* {
    font-family: 'ubuntu';
    margin: 0px;
    box-sizing: border-box;
}
header {
    background-color: #2E948A;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 5px;
}
footer {
    background-color: #2E948A;
}
nav > ul {
    list-style: none;
}
nav > ul > li {
    display: inline;
    padding-left: 10px;
}
nav > ul > li > a {
    color: #FDFDFD;
    text-decoration: none;
}

.secao1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
.secao1 > section > h2 {
    color: #009688;
    font-size: 300%;
    width: 40%;
    margin-bottom: 5%;
}
.secao1 > section > p {
    width: 30%;
}
.secao2 {
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10%;
}
.secao2 > section {
    flex: 50%;
}
.secao2 > section > p {
    margin-left: 25%;
    width: 50%;
    text-align: left;
    margin-bottom: 10%;
}
.secao2 > section > h3 {
    margin: 2%;
    color: #FF4081;
}

a {
    color: #FF4081;
    text-decoration: none;
}

a:hover {
    
    text-decoration:none; 
    cursor:pointer;  
}
.footer {

    background-color: #2E948A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2%;
    color: white;
    text-decoration: none;
}
.footer_nav ul {

    list-style-type: none;
}
.footer_nav ul > li{
    padding: 5%;
}
.footer_nav ul > li > a {

    color: white;
    text-decoration: none;
}
#button_main {

    background-color: #2E948A;
    color: white;
    border: 2px solid white;
    font-size: 1.2rem;
    margin: 1px;
    padding: 20px 40px;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
}
.buttons__footer {

    justify-content: center;
    align-items: center;
    text-align: center;
}
#button_footer1, #button_footer2 {

    background-color: #2E948A;
    color: white;
    border: 2px solid white;
    font-size: 1.2rem;
    margin: 1px;
    padding: 20px 40px;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    main {
    max-width: 550px 
}

.secao1 > section > img {
    width: 120%;
}
.secao1 > section > h2 {
    font-size: 150%;
}
.secao1 > section > p {
    font-size: 90%;
    width: 100%;
}
.cinza {
    max-width: 100%;
}

}
@media only screen and (max-width: 768px) {
    main {
        max-width: 700px 
}

.secao1 > section > img {
    width: 120%;
}
.secao1 > section > h2 {
    font-size: 150%;
}
.secao1 > section > p {
    font-size: 90%;
    width: 100%;
}
.cinza {
    max-width: 100%;
}

}
@media only screen and (max-width: 992px) {
    main {
        max-width: 900px 
}

.secao1 > section > img {
    width: 120%;
}
.secao1 > section > h2 {
    font-size: 150%;
}
.secao1 > section > p {
    font-size: 90%;
    width: 100%;
}
.cinza {
    max-width: 100%;
}

}
@media only screen and (max-width: 1200px) {
    main {
        max-width: 1150px 
}
}

.secao1 > section > img {
    width: 120%;
}
.secao1 > section > h2 {
    font-size: 150%;
}
.secao1 > section > p {
    font-size: 90%;
    width: 100%;
}
.cinza {
    max-width: 100%;
}
