* {
    font-family: 'ubuntu';
    margin: 0px;
    box-sizing: border-box;
}
header {
    background-color: #2E948A;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 5px;
}
footer {
    background-color: #2E948A;
}
nav > ul {
    list-style: none;
}
nav > ul > li {
    display: inline;
    padding-left: 10px;
}
nav > ul > li > a {
    color: #FDFDFD;
    text-decoration: none;
}
.meio {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.secao2 {
    padding: 3%;
}
.botao1 {
    background-color: white;
    border-radius: 50px;
    border-color: #FF4081;
    color: #FF4081;
    padding: 2%;
    margin-top: 2%;
    cursor: pointer;
}

.p1 {
    padding-top: 3%;
    color: #FF4081;
    text-align: center;
    align-items: center;


}

.sub_1 {

    color: #9D9D9D;    ;
    text-align: center;
    align-items: center;

}

#div_cz {
    padding-top: 3%;
    justify-content: center;
    display: flex;
    padding-bottom: 3%;

}

#imgcz {
  
width: 80%;


}

#title_post {

    color: #2E948A;

}

.bloco_sec {

width: 80%;
margin-left: 10%;
margin-right: 10%;
text-align: left;
margin-bottom: 10%;

}

.p2{
    background-color: #F6F6F6;
    color: #FF4081;
    line-height: 100%;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: center;
    align-items: center;
}
.meio > section > h3 {
    color: #FF4081;
    padding-top: 40px;
}
.secao2 > p {
    padding: 30px;
    width: 280px;
}
.botao2 {
    padding: 4%;
    background-color: #FF4081;
    border-radius: 50px;
    border-color: #FF4081;
    cursor: pointer;
    color: white;
}
/**/
.footer {

    background-color: #2E948A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2%;
    color: white;
    text-decoration: none;
}
.footer_nav ul {

    list-style-type: none;

}
.footer_nav ul > li > a {

    color: white;
    text-decoration: none;
    padding-right: 20px;
}
#button_main {

    background-color: #2E948A;
    color: white;
    border: 2px solid white;
    font-size: 1.2rem;
    margin: 1px;
    padding: 20px 40px;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
}
.buttons__footer {

    justify-content: center;
    align-items: center;
    text-align: center;
}
#button_footer1, #button_footer2 {

    background-color: #2E948A;
    color: white;
    border: 2px solid white;
    font-size: 1.2rem;
    margin: 1px;
    padding: 20px 40px;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    * {
    max-width: 550px
}
.meio {
    display: inline;
}
}
@media only screen and (max-width: 768px) {
    * {
        max-width: 700px 
}
.meio {
    display: inline;
}
}
@media only screen and (max-width: 992px) {
    * {
        max-width: 900px 
}
.meio {
    display: inline;
}
}
@media only screen and (max-width: 1200px) {
    * {
        max-width: 1150px 
}
.meio {
    display: inline;
}
}