* {
    font-family: 'ubuntu';
    margin: 0px;
    box-sizing: border-box;
}
header {
    background-color: #2E948A;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 5px;
}
footer {
    background-color: #2E948A;
}
nav > ul {
    list-style: none;
}
nav > ul > li {
    display: inline;
    padding-left: 10px;
}
nav > ul > li > a {
    color: #FDFDFD;
    text-decoration: none;
}
.secao1 {
    display: flex;
    align-items: center;
    margin: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}
.paragrafo {
    width: 50%;
}
h1 {
    color: #FF4081;
    font-size: 300%;
    width: 50%;

}
.secao2 {
    background-color: #F6F6F6;
    display: flex;
    padding-left: 25%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.secao2 > section > h2 {
    padding-bottom: 2%;
    padding-left: 10%;
    text-align: left;
    color: #FF4081;
    padding-top: 2%;
}
.secao2 > section > p {
    width: 70%;
    text-align: left;
    padding-left: 10%;
    padding-top: 4%;
}
.borda {
    padding-left: 10%;
}
.footer {

    background-color: #2E948A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2%;
    color: white;
    text-decoration: none;
}
.footer_nav ul {

    list-style-type: none;
}
.footer_nav ul > li{
    padding: 5%;
}
.footer_nav ul > li > a {

    color: white;
    text-decoration: none;
}
#button_main {

    background-color: #2E948A;
    color: white;
    border: 2px solid white;
    font-size: 1.2rem;
    margin: 1px;
    padding: 20px 40px;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
}
.buttons__footer {

    justify-content: center;
    align-items: center;
    text-align: center;
}
#button_footer1, #button_footer2 {

    background-color: #2E948A;
    color: white;
    border: 2px solid white;
    font-size: 1.2rem;
    margin: 1px;
    padding: 20px 40px;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    main {
    max-width: 550px 
}
}
@media only screen and (max-width: 768px) {
    main {
        max-width: 700px 
}
}
@media only screen and (max-width: 992px) {
    main {
        max-width: 900px 
}
}
@media only screen and (max-width: 1200px) {
    main {
        max-width: 1150px 
}
}