* {
    font-family: 'ubuntu';
    margin: 0px;
    box-sizing: border-box;
}
header {
    background-color: #2E948A;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 5px;
}
footer {
    background-color: #2E948A;
}
nav > ul {
    list-style: none;
}
nav > ul > li {
    display: inline;
    padding-left: 10px;
}
nav > ul > li > a {
    color: #FDFDFD;
    text-decoration: none;
}
.inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
.p1 {
    width: 35%;
}
.meio {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.secao2 {
    padding: 3%;
}
.botao1 {
    background-color: white;
    border-radius: 50px;
    border-color: #FF4081;
    color: #FF4081;
    padding: 2%;
    margin-top: 2%;
    cursor: pointer;
}
h1 {
    color: #FF4081;
    font-size: 500%;
    line-height: 100%;
    width: 65%;
    padding-bottom: 2%;
}
.meio > section > h3 {
    color: #FF4081;
    padding-top: 10%;
}
.secao2 > p {
    padding: 5%;
    width: 280px;
}
.botao2 {
    padding: 4%;
    background-color: #FF4081;
    border-radius: 50px;
    border-color: #FF4081;
    cursor: pointer;
    color: white;
}
h2 {
    color: #2E948A;
    font-size: 250%;
    padding: 5%;
}
.secao4 {
    display: flex;
    text-align: left;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 20%;
    padding-bottom: 5%;
    padding-right: 20%;
}
.secao4 > section > h4 {
    margin-left: 5%;
    margin-top: 1%;
}
.secao4 > section > p {
    width: 70%;
    margin-left: 5%;
}
.secao6 {
    background-color: #E5E5E5;
    display: flex;
    text-align: left;
}
.secao6 > section {
    margin-left: 5%;
    margin-right: 5%;
}
h5 {
    font-size: 200%;
}
.secao6 > section > p {
    width: 70%;
}
h5 {
    color: #009688;
}
.backbotao3 {
    text-align: center;
    background-color: #E5E5E5;
}
.botao3 {
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 50px 50px 50px 50px;
    border-color: #FF4081;
    color: #FF4081;
    padding: 1%;
    background-color: #E5E5E5;
    width: 25%;
    font-size: 150%;
    cursor: pointer;
}
.footer {

    background-color: #2E948A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2%;
    color: white;
    text-decoration: none;
}
.footer_nav ul {

    list-style-type: none;
}
.footer_nav ul > li{
    padding: 5%;
}
.footer_nav ul > li > a {

    color: white;
    text-decoration: none;
}
#button_main {

    background-color: #2E948A;
    color: white;
    border: 2px solid white;
    font-size: 1.2rem;
    margin: 1px;
    padding: 20px 40px;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
}
.buttons__footer {

    justify-content: center;
    align-items: center;
    text-align: center;
}
#button_footer1, #button_footer2 {

    background-color: #2E948A;
    color: white;
    border: 2px solid white;
    font-size: 1.2rem;
    margin: 1px;
    padding: 20px 40px;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    main {
    max-width: 550px 
}
}
@media only screen and (max-width: 768px) {
    main {
        max-width: 700px 
}
}
@media only screen and (max-width: 992px) {
    main {
        max-width: 900px 
}
}
@media only screen and (max-width: 1200px) {
    main {
        max-width: 1150px 
}
}