* {
    font-family: 'ubuntu';
    margin: 0px;
}
header {
    background-color: #2E948A;
    display: flex;
}
footer {
    background-color: #2E948A;
}
.logo-header{
    padding-left: 5%;
    padding-top: 5px;
    padding-bottom: 3px;
}
nav > ul {
    list-style: none;
    padding-top: 10%;

}
nav > ul > li {
    display: inline;
}
nav > ul > li > a {
    color: #FDFDFD;
    text-decoration: none;
    padding-left: 30px;
}
.menu {
    left: 1500px;
    position: absolute;
}
.inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
.meio {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.secao2 {
    padding: 3%;
}
.botao1 {
    background-color: white;
    border-radius: 50px;
    border-color: #FF4081;
    color: #FF4081;
    padding: 2%;
}
h1 {
    color: #FF4081;
    font-size: 69px;
    line-height: 100%;
}
h3 {
    color: #FF4081;
    padding-top: 40px;
}
.secao2 > p {
    padding: 30px;
}
.botao2 {
    padding: 4%;
    background-color: #FF4081;
    border-radius: 50px;
    border-color: #FF4081;
}
h2 {
    color: #2E948A;
    font-size: 30px;
    padding: 10%;
}